In [ ]:
# 프로젝트 진행 중 메뉴 가격이 이상하게 들어간 데이터들이 있어서 다시 전처리

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('MENU_FINAL.csv', index_col=0)

In [3]:
df

,id,old_restaurantId,restaurantId,menuName,price,description,imgUrl
0,1,2,1,A세트인기대표,59000,해산물모듬+제철모듬회+매운탕(지리탕),https://ldb-phinf.pstatic.net/20220203_236/164...
1,2,2,1,숭어,25000,NaN,https://ldb-phinf.pstatic.net/20220207_135/164...
2,3,2,1,광어,40000,NaN,https://ldb-phinf.pstatic.net/20220207_188/164...
3,4,2,1,우럭,40000,NaN,https://ldb-phinf.pstatic.net/20220207_115/164...
4,5,2,1,도미,50000,NaN,NaN
...,...,...,...,...,...,...,...
162204,162205,31201,18984,국수(잔치/열무/물냉면),4000,NaN,NaN
162205,162206,31206,18986,프리미엄카츠,7500,"프리미엄소스와 히말라야 핑크소금, 와사비마요, 생와사비를 기호에 맞게 드실 수 있는 메뉴",https://search.pstatic.net/common/?autoRotate=...
162206,162207,31206,18986,큐브치즈카츠1,8500,모짜렐라 100% 치즈가 쭈~~욱 속이 꽉찬 치즈카츠와 감자튀김을 동시에 즐기실 수...,https://search.pstatic.net/common/?autoRotate=...
162207,162208,31206,18986,큐브치즈카츠2,9500,모짜렐라 100% 치즈가 쭈~~욱 속이 꽉찬 치즈카츠와 등심돈까스를 동시에 즐기실 ...,https://search.pstatic.net/common/?autoRotate=...
162208,162209,31206,18986,모둠카츠,9500,"등심돈까스와 큐브치즈카츠, 새우튀김, 감자튀김까지 맛보실 수 있는 푸짐한 메뉴",https://search.pstatic.net/common/?autoRotate=...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162209 entries, 0 to 162208
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                162209 non-null  int64
 1   old_restaurantId  162209 non-null  int64
 2   restaurantId      162209 non-null  int64
 3   menuName          162209 non-null  object
 4   price             155990 non-null  object
 5   description       64255 non-null   object
 6   imgUrl            89067 non-null   object
dtypes: int64(3), object(4)
memory usage: 9.9+ MB

In [5]:
df['price'].unique()

array(['59000', '25000', '40000', '50000', '30000', '15000', '20000',
       '60000', '2000', '3000', '8000', '10000', '55000', '120000',
       '100000', '80000', '70000', '35000', '17000', '7000', '5500',
       '7500', '6000', '18000', '12000', '5000', '6500', '11000', '9000',
       '29000', '14000', '13000', '16000', '12900', '27000', '20900',
       '17900', nan, '15900', '25900', '26900', '45000', '6900', '5900',
       '6800', '4400', '4500', '3500', '4000', '4800', '13500', '23000',
       '24000', '19000', '43000', '14900', '11900', '16900', '22900',
       '8500', '19900', '13900', '1500', '2500', '28000', '20500',
       '22000', '38000', '34000', '52000', '39000', '48000', '33000',
       '54000', '49000', '108000', '162000', '216000', '98000', '147000',
       '196000', '32000', '37000', '9900', '49900', '99900', '27800',
       '23800', '68000', '42000', '1000', '78000', '130000', '110000',
       '18900', '36000', '40500', '43500', '140000', '85000', '135000',
       '115000', '79000', '90000', '26000', '160000', '67000', '무료',
       '44000', '21000', '65000', '2900', '15800', '14800', '9800',
       '16800', '14500', '58000', '3900', '99000', '11500', '86000',
       '500', '1800', '23500', '21500', '62000', '6200', '5800', '6400',
       '1700', '9500', '10900', '1', '66000', '6300', '4200', '96000',
       '72000', '41000', '20800', '29800', '37900', '69000', '150000',
       '119000', '125000', '159000', '47000', '21900', '4300', '3800',
       '74000', '12500', '16300', '170000', '7900', '8900', '4700',
       '5200', '7200', '8100', '8800', '10200', '10500', '25500', '36300',
       '38500', '49500', '0', '116000', '174000', '232000', '250000',
       '75000', '200000', '89000', '2200', '3600', '63000', '31000',
       '21400', '20200', '5300', '150002', '17500', '10800', '71000',
       '31500', '4900', '46000', '19500', '16500', '15500', '29500',
       '4100', '4600', '5100', '5600', '18800', '29600', '15600', '8600',
       '95000', '34500', '17300', '18300', '88000', '2300', '1900',
       '2800', '104000', '10', '51000', '109000', '129000', '199000',
       '229000', '61000', '27900', '3300', '37800', '24800', '22800',
       '7800', '13800', '56000', '5400', '26800', '19800', '3700', '6100',
       '9300', '180000', '260000', '240000', '22500', '12400', '9700',
       '8200', '9400', '23900', '2400', '1300', '34900', '39900', '29900',
       '2700', '81000', '84000', '8700', '9200', '37500', '31900',
       '24900', '28900', '30900', '5700', '36900', '101000', '8400',
       '21800', '21750', '11700', '32400', '15300', '7400', '57000',
       '220000', '33900', '38900', '43900', '66900', '85900', '112900',
       '700', '18500', '57500', '148000', '74500', '67500', '8300',
       '10300', '82000', '900', '48900', '59900', '77000', '138000',
       '149000', '3200', '53000', '230000', '16009', '39500', '24500',
       '800', '1600', '1200', '10400', '11400', '60007', '73000', '28500',
       '117000', '192000', '10600', '300', '41900', '27500', '13400',
       '3990041700', '4690049200', '4890051600', '8390087900', '11800',
       '33800', '31800', '32800', '92000', '79900', '83900', '87000',
       '76000', '210000', '14400', '100', '3400', '17600', '18700',
       '23300', '26100', '3100', '10700', '7300', '30500', '11300',
       '300000', '83000', '190000', '15400', '31300', '51700', '47900',
       '25700', '145000', '175000', '350000', '700000', '6600', '36500',
       '32500', '6700', '28003500', '32004000', '40005000', '24003000',
       '36004500', '44005500', '2600', '1400', '70009000', '60007000',
       '14300', '25200', '200', '17400', '105000', '22300', '25800',
       '35900', '32900', '64000', '50006', '7700', '15006', '89900',
       '16200', '24400', '15700', '9600', '14200', '16700', '14700',
       '59500', '47500', '2100', '12800', '111000', '46900', '102000',
       '134000', '137000', '114000', '107000', '122000', '36800', '7600',
       '40900', '67900', '1850', '49800', '35500', '600', '16400',
       '21700', '19700', '20700', '26700', '23700', '42900', '45900',
       '12700', '3490037000', '3290035000', '5390060000', '5090057000',
       '6290073000', '6890077000', '9100', '35100', '19400', '35800',
       '13600', '42500', '11600', '11200', '17800', '177000', '97000',
       '324032', '52800', '26500', '59007400', '1880026900', '1360019500',
       '1600022900', '1810025900', '1460020900', '3990057900',
       '3590053100', '2270032500', '2090029900', '1180016900',
       '3490046200', '3090043100', '68008500', '103000', '163000',
       '41500', '133000', '400', '169000', '249000', '319000',
       '1953027900', '2163030900', '1435020500', '1645023500',
       '2373033900', '2583036900', '1960028000', '2170031000',
       '2443034900', '2030029000', '2065029500', '2093029900',
       '1575022500', '2513035900', '2100030000', '2023028900',
       '1505021500', '1813025900', '1295018500', '1673023900',
       '1155016500', '2653037900', '2240032000', '2793039900',
       '2275032500', '2303032900', '1785025500', '1855026500',
       '2723038900', '2310033000', '2233031900', '1715024500',
       '1883026900', '1365019500', '13200', '34800', '38800', '42800',
       '44800', '118000', '21100', '15200', '287900', '368900', '199800',
       '174900', '123900', '65900', '186900', '157900', '74900', '53900',
       '44900', '7100', '19100', '19600', '63900', '69900', '81500',
       '44500', '54300', '85700', '27700', '74800', '78800', '90800',
       '72800', '124000', '143000', '52500', '57800', '2151023900',
       '3051033900', '1611017900', '2241024900', '2331025900',
       '2421026900', '1611016900', '1539017100', '1584017600',
       '1674018600', '1791019900', '3114034600', '3204035600',
       '3321036900', '13300', '136000', '45500', '61500', '39800',
       '52900', '71900', '54900', '113000', '49700', '91000', '11100',
       '285000', '270000', '239000', '139000', '93000', '179000',
       '2000022000', '1900021000', '1800020000', '2100021000',
       '2100023000', '2200024000', '2500026000', '1900020000',
       '1700019000', '1800019000', '2600025000', '2100024000',
       '2400025000', '2200023000', '2700025000', '2900026000',
       '3300030000', '1600019000', '1500018000', '1500017000',
       '1600018000', '1700021000', '1300016000', '1200016000',
       '1400017000', '1400018000', '2000023000', '1500020000',
       '1700020000', '2500027000', '600000', '106000', '188000', '100900',
       '64900', '15100', '144000', '164000', '127000', '20400', '29400',
       '39200', '128000', '46500', '85500', '450000', '55900', '155000',
       '550000', '158000', '112000', '123000', '33700', '34200', '81800',
       '69800', '5450', '150', '1208', '22400', '430000', '120', '28800',
       '40800', '1750', '60006000', '45005000', '55005500', '50005000',
       '65006500', '120004', '4885', '57900', '94000', '112500', '10100',
       '34700', '17700', '1100', '47800', '41800', '45800', '61800',
       '56800', '149900', '169900', '209900', '131400', '153300',
       '175200', '197100', '219000', '119900', '189900', '229900',
       '249900', '1450014500', '1450014000', '1550015500', '18200',
       '142000', '39300', '12300', '31400', '60400', '33300', '37700',
       '48700', '1100013000', '58100', '76100', '46800', '4200050000',
       '239800', '30800', '1000000', '500000', '1000013900', '1000014900',
       '1500018900', '1300017900', '1300016900', '3000033000',
       '2700030000', '31700', '28700', '12200', '48500', '126000',
       '36700', '120003', '199999', '36400', '1004', '19300', '25300',
       '3', '1490019900', '31200', '41600', '32200', '43600', '400000',
       '33500', '21600', '51900', '4286', '22600', '38600', '65500',
       '1400019000', '1600021000', '1300018000', '2000025000',
       '1700022000', '1200017000', '2100026000', '1800023000',
       '2900031000', '3300035000', '2700029000', '3100033000',
       '3500037000', '4700050000', '6700070000', '207000', '172000',
       '70009', '5990', '4990', '3990', '1990', '4800048000',
       '3000029700', '176900', '41300', '420000', '48800', '1900022000',
       '1800021000', '2200025000', '2300026000', '76900', '198000',
       '25400', '173000', '1950032500', '1790029900', '63007900',
       '153000', '5490', '6990', '65800', '38700', '55500', '18600',
       '131000', '21200', '16600', '13700', '23100', '14100', '14600',
       '26300', '27300', '28300', '51500', '43800', '12', '13', '24300',
       '79200', '96800', '117600', '176400', '235200', '294000', '352800',
       '105600', '123200', '132000', '158400', '176000', '193600',
       '211200', '246400', '264000', '290400', '316800', '352000',
       '114400', '396000', '440000', '143800', '161400', '214200',
       '231800', '249400', '267000', '302200', '1450015500', '1550016500',
       '33400', '50900', '1900024000', '2400029000', '2200027000',
       '2100025000', '2300027000', '2700031000', '2500029000',
       '2900033000', '234000', '3800051000', '4100054000', '58900',
       '299000', '1550', '72007500', '80008500', '1290', '2450024500',
       '1150', '349000'], dtype=object)

In [6]:
df['price'].nunique()

821

In [ ]:
# 이상값을 0으로 변경

In [7]:
df.loc[df['price']=='무료', 'price'] = 0

In [8]:
df['price'].unique()

array(['59000', '25000', '40000', '50000', '30000', '15000', '20000',
       '60000', '2000', '3000', '8000', '10000', '55000', '120000',
       '100000', '80000', '70000', '35000', '17000', '7000', '5500',
       '7500', '6000', '18000', '12000', '5000', '6500', '11000', '9000',
       '29000', '14000', '13000', '16000', '12900', '27000', '20900',
       '17900', nan, '15900', '25900', '26900', '45000', '6900', '5900',
       '6800', '4400', '4500', '3500', '4000', '4800', '13500', '23000',
       '24000', '19000', '43000', '14900', '11900', '16900', '22900',
       '8500', '19900', '13900', '1500', '2500', '28000', '20500',
       '22000', '38000', '34000', '52000', '39000', '48000', '33000',
       '54000', '49000', '108000', '162000', '216000', '98000', '147000',
       '196000', '32000', '37000', '9900', '49900', '99900', '27800',
       '23800', '68000', '42000', '1000', '78000', '130000', '110000',
       '18900', '36000', '40500', '43500', '140000', '85000', '135000',
       '115000', '79000', '90000', '26000', '160000', '67000', 0, '44000',
       '21000', '65000', '2900', '15800', '14800', '9800', '16800',
       '14500', '58000', '3900', '99000', '11500', '86000', '500', '1800',
       '23500', '21500', '62000', '6200', '5800', '6400', '1700', '9500',
       '10900', '1', '66000', '6300', '4200', '96000', '72000', '41000',
       '20800', '29800', '37900', '69000', '150000', '119000', '125000',
       '159000', '47000', '21900', '4300', '3800', '74000', '12500',
       '16300', '170000', '7900', '8900', '4700', '5200', '7200', '8100',
       '8800', '10200', '10500', '25500', '36300', '38500', '49500', '0',
       '116000', '174000', '232000', '250000', '75000', '200000', '89000',
       '2200', '3600', '63000', '31000', '21400', '20200', '5300',
       '150002', '17500', '10800', '71000', '31500', '4900', '46000',
       '19500', '16500', '15500', '29500', '4100', '4600', '5100', '5600',
       '18800', '29600', '15600', '8600', '95000', '34500', '17300',
       '18300', '88000', '2300', '1900', '2800', '104000', '10', '51000',
       '109000', '129000', '199000', '229000', '61000', '27900', '3300',
       '37800', '24800', '22800', '7800', '13800', '56000', '5400',
       '26800', '19800', '3700', '6100', '9300', '180000', '260000',
       '240000', '22500', '12400', '9700', '8200', '9400', '23900',
       '2400', '1300', '34900', '39900', '29900', '2700', '81000',
       '84000', '8700', '9200', '37500', '31900', '24900', '28900',
       '30900', '5700', '36900', '101000', '8400', '21800', '21750',
       '11700', '32400', '15300', '7400', '57000', '220000', '33900',
       '38900', '43900', '66900', '85900', '112900', '700', '18500',
       '57500', '148000', '74500', '67500', '8300', '10300', '82000',
       '900', '48900', '59900', '77000', '138000', '149000', '3200',
       '53000', '230000', '16009', '39500', '24500', '800', '1600',
       '1200', '10400', '11400', '60007', '73000', '28500', '117000',
       '192000', '10600', '300', '41900', '27500', '13400', '3990041700',
       '4690049200', '4890051600', '8390087900', '11800', '33800',
       '31800', '32800', '92000', '79900', '83900', '87000', '76000',
       '210000', '14400', '100', '3400', '17600', '18700', '23300',
       '26100', '3100', '10700', '7300', '30500', '11300', '300000',
       '83000', '190000', '15400', '31300', '51700', '47900', '25700',
       '145000', '175000', '350000', '700000', '6600', '36500', '32500',
       '6700', '28003500', '32004000', '40005000', '24003000', '36004500',
       '44005500', '2600', '1400', '70009000', '60007000', '14300',
       '25200', '200', '17400', '105000', '22300', '25800', '35900',
       '32900', '64000', '50006', '7700', '15006', '89900', '16200',
       '24400', '15700', '9600', '14200', '16700', '14700', '59500',
       '47500', '2100', '12800', '111000', '46900', '102000', '134000',
       '137000', '114000', '107000', '122000', '36800', '7600', '40900',
       '67900', '1850', '49800', '35500', '600', '16400', '21700',
       '19700', '20700', '26700', '23700', '42900', '45900', '12700',
       '3490037000', '3290035000', '5390060000', '5090057000',
       '6290073000', '6890077000', '9100', '35100', '19400', '35800',
       '13600', '42500', '11600', '11200', '17800', '177000', '97000',
       '324032', '52800', '26500', '59007400', '1880026900', '1360019500',
       '1600022900', '1810025900', '1460020900', '3990057900',
       '3590053100', '2270032500', '2090029900', '1180016900',
       '3490046200', '3090043100', '68008500', '103000', '163000',
       '41500', '133000', '400', '169000', '249000', '319000',
       '1953027900', '2163030900', '1435020500', '1645023500',
       '2373033900', '2583036900', '1960028000', '2170031000',
       '2443034900', '2030029000', '2065029500', '2093029900',
       '1575022500', '2513035900', '2100030000', '2023028900',
       '1505021500', '1813025900', '1295018500', '1673023900',
       '1155016500', '2653037900', '2240032000', '2793039900',
       '2275032500', '2303032900', '1785025500', '1855026500',
       '2723038900', '2310033000', '2233031900', '1715024500',
       '1883026900', '1365019500', '13200', '34800', '38800', '42800',
       '44800', '118000', '21100', '15200', '287900', '368900', '199800',
       '174900', '123900', '65900', '186900', '157900', '74900', '53900',
       '44900', '7100', '19100', '19600', '63900', '69900', '81500',
       '44500', '54300', '85700', '27700', '74800', '78800', '90800',
       '72800', '124000', '143000', '52500', '57800', '2151023900',
       '3051033900', '1611017900', '2241024900', '2331025900',
       '2421026900', '1611016900', '1539017100', '1584017600',
       '1674018600', '1791019900', '3114034600', '3204035600',
       '3321036900', '13300', '136000', '45500', '61500', '39800',
       '52900', '71900', '54900', '113000', '49700', '91000', '11100',
       '285000', '270000', '239000', '139000', '93000', '179000',
       '2000022000', '1900021000', '1800020000', '2100021000',
       '2100023000', '2200024000', '2500026000', '1900020000',
       '1700019000', '1800019000', '2600025000', '2100024000',
       '2400025000', '2200023000', '2700025000', '2900026000',
       '3300030000', '1600019000', '1500018000', '1500017000',
       '1600018000', '1700021000', '1300016000', '1200016000',
       '1400017000', '1400018000', '2000023000', '1500020000',
       '1700020000', '2500027000', '600000', '106000', '188000', '100900',
       '64900', '15100', '144000', '164000', '127000', '20400', '29400',
       '39200', '128000', '46500', '85500', '450000', '55900', '155000',
       '550000', '158000', '112000', '123000', '33700', '34200', '81800',
       '69800', '5450', '150', '1208', '22400', '430000', '120', '28800',
       '40800', '1750', '60006000', '45005000', '55005500', '50005000',
       '65006500', '120004', '4885', '57900', '94000', '112500', '10100',
       '34700', '17700', '1100', '47800', '41800', '45800', '61800',
       '56800', '149900', '169900', '209900', '131400', '153300',
       '175200', '197100', '219000', '119900', '189900', '229900',
       '249900', '1450014500', '1450014000', '1550015500', '18200',
       '142000', '39300', '12300', '31400', '60400', '33300', '37700',
       '48700', '1100013000', '58100', '76100', '46800', '4200050000',
       '239800', '30800', '1000000', '500000', '1000013900', '1000014900',
       '1500018900', '1300017900', '1300016900', '3000033000',
       '2700030000', '31700', '28700', '12200', '48500', '126000',
       '36700', '120003', '199999', '36400', '1004', '19300', '25300',
       '3', '1490019900', '31200', '41600', '32200', '43600', '400000',
       '33500', '21600', '51900', '4286', '22600', '38600', '65500',
       '1400019000', '1600021000', '1300018000', '2000025000',
       '1700022000', '1200017000', '2100026000', '1800023000',
       '2900031000', '3300035000', '2700029000', '3100033000',
       '3500037000', '4700050000', '6700070000', '207000', '172000',
       '70009', '5990', '4990', '3990', '1990', '4800048000',
       '3000029700', '176900', '41300', '420000', '48800', '1900022000',
       '1800021000', '2200025000', '2300026000', '76900', '198000',
       '25400', '173000', '1950032500', '1790029900', '63007900',
       '153000', '5490', '6990', '65800', '38700', '55500', '18600',
       '131000', '21200', '16600', '13700', '23100', '14100', '14600',
       '26300', '27300', '28300', '51500', '43800', '12', '13', '24300',
       '79200', '96800', '117600', '176400', '235200', '294000', '352800',
       '105600', '123200', '132000', '158400', '176000', '193600',
       '211200', '246400', '264000', '290400', '316800', '352000',
       '114400', '396000', '440000', '143800', '161400', '214200',
       '231800', '249400', '267000', '302200', '1450015500', '1550016500',
       '33400', '50900', '1900024000', '2400029000', '2200027000',
       '2100025000', '2300027000', '2700031000', '2500029000',
       '2900033000', '234000', '3800051000', '4100054000', '58900',
       '299000', '1550', '72007500', '80008500', '1290', '2450024500',
       '1150', '349000'], dtype=object)

In [9]:
df.loc[df['price'].isna(), 'price'] = 0

In [10]:
df['price'].unique()

array(['59000', '25000', '40000', '50000', '30000', '15000', '20000',
       '60000', '2000', '3000', '8000', '10000', '55000', '120000',
       '100000', '80000', '70000', '35000', '17000', '7000', '5500',
       '7500', '6000', '18000', '12000', '5000', '6500', '11000', '9000',
       '29000', '14000', '13000', '16000', '12900', '27000', '20900',
       '17900', 0, '15900', '25900', '26900', '45000', '6900', '5900',
       '6800', '4400', '4500', '3500', '4000', '4800', '13500', '23000',
       '24000', '19000', '43000', '14900', '11900', '16900', '22900',
       '8500', '19900', '13900', '1500', '2500', '28000', '20500',
       '22000', '38000', '34000', '52000', '39000', '48000', '33000',
       '54000', '49000', '108000', '162000', '216000', '98000', '147000',
       '196000', '32000', '37000', '9900', '49900', '99900', '27800',
       '23800', '68000', '42000', '1000', '78000', '130000', '110000',
       '18900', '36000', '40500', '43500', '140000', '85000', '135000',
       '115000', '79000', '90000', '26000', '160000', '67000', '44000',
       '21000', '65000', '2900', '15800', '14800', '9800', '16800',
       '14500', '58000', '3900', '99000', '11500', '86000', '500', '1800',
       '23500', '21500', '62000', '6200', '5800', '6400', '1700', '9500',
       '10900', '1', '66000', '6300', '4200', '96000', '72000', '41000',
       '20800', '29800', '37900', '69000', '150000', '119000', '125000',
       '159000', '47000', '21900', '4300', '3800', '74000', '12500',
       '16300', '170000', '7900', '8900', '4700', '5200', '7200', '8100',
       '8800', '10200', '10500', '25500', '36300', '38500', '49500', '0',
       '116000', '174000', '232000', '250000', '75000', '200000', '89000',
       '2200', '3600', '63000', '31000', '21400', '20200', '5300',
       '150002', '17500', '10800', '71000', '31500', '4900', '46000',
       '19500', '16500', '15500', '29500', '4100', '4600', '5100', '5600',
       '18800', '29600', '15600', '8600', '95000', '34500', '17300',
       '18300', '88000', '2300', '1900', '2800', '104000', '10', '51000',
       '109000', '129000', '199000', '229000', '61000', '27900', '3300',
       '37800', '24800', '22800', '7800', '13800', '56000', '5400',
       '26800', '19800', '3700', '6100', '9300', '180000', '260000',
       '240000', '22500', '12400', '9700', '8200', '9400', '23900',
       '2400', '1300', '34900', '39900', '29900', '2700', '81000',
       '84000', '8700', '9200', '37500', '31900', '24900', '28900',
       '30900', '5700', '36900', '101000', '8400', '21800', '21750',
       '11700', '32400', '15300', '7400', '57000', '220000', '33900',
       '38900', '43900', '66900', '85900', '112900', '700', '18500',
       '57500', '148000', '74500', '67500', '8300', '10300', '82000',
       '900', '48900', '59900', '77000', '138000', '149000', '3200',
       '53000', '230000', '16009', '39500', '24500', '800', '1600',
       '1200', '10400', '11400', '60007', '73000', '28500', '117000',
       '192000', '10600', '300', '41900', '27500', '13400', '3990041700',
       '4690049200', '4890051600', '8390087900', '11800', '33800',
       '31800', '32800', '92000', '79900', '83900', '87000', '76000',
       '210000', '14400', '100', '3400', '17600', '18700', '23300',
       '26100', '3100', '10700', '7300', '30500', '11300', '300000',
       '83000', '190000', '15400', '31300', '51700', '47900', '25700',
       '145000', '175000', '350000', '700000', '6600', '36500', '32500',
       '6700', '28003500', '32004000', '40005000', '24003000', '36004500',
       '44005500', '2600', '1400', '70009000', '60007000', '14300',
       '25200', '200', '17400', '105000', '22300', '25800', '35900',
       '32900', '64000', '50006', '7700', '15006', '89900', '16200',
       '24400', '15700', '9600', '14200', '16700', '14700', '59500',
       '47500', '2100', '12800', '111000', '46900', '102000', '134000',
       '137000', '114000', '107000', '122000', '36800', '7600', '40900',
       '67900', '1850', '49800', '35500', '600', '16400', '21700',
       '19700', '20700', '26700', '23700', '42900', '45900', '12700',
       '3490037000', '3290035000', '5390060000', '5090057000',
       '6290073000', '6890077000', '9100', '35100', '19400', '35800',
       '13600', '42500', '11600', '11200', '17800', '177000', '97000',
       '324032', '52800', '26500', '59007400', '1880026900', '1360019500',
       '1600022900', '1810025900', '1460020900', '3990057900',
       '3590053100', '2270032500', '2090029900', '1180016900',
       '3490046200', '3090043100', '68008500', '103000', '163000',
       '41500', '133000', '400', '169000', '249000', '319000',
       '1953027900', '2163030900', '1435020500', '1645023500',
       '2373033900', '2583036900', '1960028000', '2170031000',
       '2443034900', '2030029000', '2065029500', '2093029900',
       '1575022500', '2513035900', '2100030000', '2023028900',
       '1505021500', '1813025900', '1295018500', '1673023900',
       '1155016500', '2653037900', '2240032000', '2793039900',
       '2275032500', '2303032900', '1785025500', '1855026500',
       '2723038900', '2310033000', '2233031900', '1715024500',
       '1883026900', '1365019500', '13200', '34800', '38800', '42800',
       '44800', '118000', '21100', '15200', '287900', '368900', '199800',
       '174900', '123900', '65900', '186900', '157900', '74900', '53900',
       '44900', '7100', '19100', '19600', '63900', '69900', '81500',
       '44500', '54300', '85700', '27700', '74800', '78800', '90800',
       '72800', '124000', '143000', '52500', '57800', '2151023900',
       '3051033900', '1611017900', '2241024900', '2331025900',
       '2421026900', '1611016900', '1539017100', '1584017600',
       '1674018600', '1791019900', '3114034600', '3204035600',
       '3321036900', '13300', '136000', '45500', '61500', '39800',
       '52900', '71900', '54900', '113000', '49700', '91000', '11100',
       '285000', '270000', '239000', '139000', '93000', '179000',
       '2000022000', '1900021000', '1800020000', '2100021000',
       '2100023000', '2200024000', '2500026000', '1900020000',
       '1700019000', '1800019000', '2600025000', '2100024000',
       '2400025000', '2200023000', '2700025000', '2900026000',
       '3300030000', '1600019000', '1500018000', '1500017000',
       '1600018000', '1700021000', '1300016000', '1200016000',
       '1400017000', '1400018000', '2000023000', '1500020000',
       '1700020000', '2500027000', '600000', '106000', '188000', '100900',
       '64900', '15100', '144000', '164000', '127000', '20400', '29400',
       '39200', '128000', '46500', '85500', '450000', '55900', '155000',
       '550000', '158000', '112000', '123000', '33700', '34200', '81800',
       '69800', '5450', '150', '1208', '22400', '430000', '120', '28800',
       '40800', '1750', '60006000', '45005000', '55005500', '50005000',
       '65006500', '120004', '4885', '57900', '94000', '112500', '10100',
       '34700', '17700', '1100', '47800', '41800', '45800', '61800',
       '56800', '149900', '169900', '209900', '131400', '153300',
       '175200', '197100', '219000', '119900', '189900', '229900',
       '249900', '1450014500', '1450014000', '1550015500', '18200',
       '142000', '39300', '12300', '31400', '60400', '33300', '37700',
       '48700', '1100013000', '58100', '76100', '46800', '4200050000',
       '239800', '30800', '1000000', '500000', '1000013900', '1000014900',
       '1500018900', '1300017900', '1300016900', '3000033000',
       '2700030000', '31700', '28700', '12200', '48500', '126000',
       '36700', '120003', '199999', '36400', '1004', '19300', '25300',
       '3', '1490019900', '31200', '41600', '32200', '43600', '400000',
       '33500', '21600', '51900', '4286', '22600', '38600', '65500',
       '1400019000', '1600021000', '1300018000', '2000025000',
       '1700022000', '1200017000', '2100026000', '1800023000',
       '2900031000', '3300035000', '2700029000', '3100033000',
       '3500037000', '4700050000', '6700070000', '207000', '172000',
       '70009', '5990', '4990', '3990', '1990', '4800048000',
       '3000029700', '176900', '41300', '420000', '48800', '1900022000',
       '1800021000', '2200025000', '2300026000', '76900', '198000',
       '25400', '173000', '1950032500', '1790029900', '63007900',
       '153000', '5490', '6990', '65800', '38700', '55500', '18600',
       '131000', '21200', '16600', '13700', '23100', '14100', '14600',
       '26300', '27300', '28300', '51500', '43800', '12', '13', '24300',
       '79200', '96800', '117600', '176400', '235200', '294000', '352800',
       '105600', '123200', '132000', '158400', '176000', '193600',
       '211200', '246400', '264000', '290400', '316800', '352000',
       '114400', '396000', '440000', '143800', '161400', '214200',
       '231800', '249400', '267000', '302200', '1450015500', '1550016500',
       '33400', '50900', '1900024000', '2400029000', '2200027000',
       '2100025000', '2300027000', '2700031000', '2500029000',
       '2900033000', '234000', '3800051000', '4100054000', '58900',
       '299000', '1550', '72007500', '80008500', '1290', '2450024500',
       '1150', '349000'], dtype=object)

In [11]:
df['price'].astype('int')

OverflowError: Python int too large to convert to C long

In [12]:
import sys

In [13]:
sys.maxsize

9223372036854775807

In [14]:
df['price'] = pd.to_numeric(df['price'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162209 entries, 0 to 162208
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                162209 non-null  int64
 1   old_restaurantId  162209 non-null  int64
 2   restaurantId      162209 non-null  int64
 3   menuName          162209 non-null  object
 4   price             162209 non-null  int64
 5   description       64255 non-null   object
 6   imgUrl            89067 non-null   object
dtypes: int64(4), object(3)
memory usage: 9.9+ MB

In [16]:
df['price'].unique()

array([     59000,      25000,      40000,      50000,      30000,
            15000,      20000,      60000,       2000,       3000,
             8000,      10000,      55000,     120000,     100000,
            80000,      70000,      35000,      17000,       7000,
             5500,       7500,       6000,      18000,      12000,
             5000,       6500,      11000,       9000,      29000,
            14000,      13000,      16000,      12900,      27000,
            20900,      17900,          0,      15900,      25900,
            26900,      45000,       6900,       5900,       6800,
             4400,       4500,       3500,       4000,       4800,
            13500,      23000,      24000,      19000,      43000,
            14900,      11900,      16900,      22900,       8500,
            19900,      13900,       1500,       2500,      28000,
            20500,      22000,      38000,      34000,      52000,
            39000,      48000,      33000,      54000,      49000,
           108000,     162000,     216000,      98000,     147000,
           196000,      32000,      37000,       9900,      49900,
            99900,      27800,      23800,      68000,      42000,
             1000,      78000,     130000,     110000,      18900,
            36000,      40500,      43500,     140000,      85000,
           135000,     115000,      79000,      90000,      26000,
           160000,      67000,      44000,      21000,      65000,
             2900,      15800,      14800,       9800,      16800,
            14500,      58000,       3900,      99000,      11500,
            86000,        500,       1800,      23500,      21500,
            62000,       6200,       5800,       6400,       1700,
             9500,      10900,          1,      66000,       6300,
             4200,      96000,      72000,      41000,      20800,
            29800,      37900,      69000,     150000,     119000,
           125000,     159000,      47000,      21900,       4300,
             3800,      74000,      12500,      16300,     170000,
             7900,       8900,       4700,       5200,       7200,
             8100,       8800,      10200,      10500,      25500,
            36300,      38500,      49500,     116000,     174000,
           232000,     250000,      75000,     200000,      89000,
             2200,       3600,      63000,      31000,      21400,
            20200,       5300,     150002,      17500,      10800,
            71000,      31500,       4900,      46000,      19500,
            16500,      15500,      29500,       4100,       4600,
             5100,       5600,      18800,      29600,      15600,
             8600,      95000,      34500,      17300,      18300,
            88000,       2300,       1900,       2800,     104000,
               10,      51000,     109000,     129000,     199000,
           229000,      61000,      27900,       3300,      37800,
            24800,      22800,       7800,      13800,      56000,
             5400,      26800,      19800,       3700,       6100,
             9300,     180000,     260000,     240000,      22500,
            12400,       9700,       8200,       9400,      23900,
             2400,       1300,      34900,      39900,      29900,
             2700,      81000,      84000,       8700,       9200,
            37500,      31900,      24900,      28900,      30900,
             5700,      36900,     101000,       8400,      21800,
            21750,      11700,      32400,      15300,       7400,
            57000,     220000,      33900,      38900,      43900,
            66900,      85900,     112900,        700,      18500,
            57500,     148000,      74500,      67500,       8300,
            10300,      82000,        900,      48900,      59900,
            77000,     138000,     149000,       3200,      53000,
           230000,      16009,      39500,      24500,        800,
             1600,       1200,      10400,      11400,      60007,
            73000,      28500,     117000,     192000,      10600,
              300,      41900,      27500,      13400, 3990041700,
       4690049200, 4890051600, 8390087900,      11800,      33800,
            31800,      32800,      92000,      79900,      83900,
            87000,      76000,     210000,      14400,        100,
             3400,      17600,      18700,      23300,      26100,
             3100,      10700,       7300,      30500,      11300,
           300000,      83000,     190000,      15400,      31300,
            51700,      47900,      25700,     145000,     175000,
           350000,     700000,       6600,      36500,      32500,
             6700,   28003500,   32004000,   40005000,   24003000,
         36004500,   44005500,       2600,       1400,   70009000,
         60007000,      14300,      25200,        200,      17400,
           105000,      22300,      25800,      35900,      32900,
            64000,      50006,       7700,      15006,      89900,
            16200,      24400,      15700,       9600,      14200,
            16700,      14700,      59500,      47500,       2100,
            12800,     111000,      46900,     102000,     134000,
           137000,     114000,     107000,     122000,      36800,
             7600,      40900,      67900,       1850,      49800,
            35500,        600,      16400,      21700,      19700,
            20700,      26700,      23700,      42900,      45900,
            12700, 3490037000, 3290035000, 5390060000, 5090057000,
       6290073000, 6890077000,       9100,      35100,      19400,
            35800,      13600,      42500,      11600,      11200,
            17800,     177000,      97000,     324032,      52800,
            26500,   59007400, 1880026900, 1360019500, 1600022900,
       1810025900, 1460020900, 3990057900, 3590053100, 2270032500,
       2090029900, 1180016900, 3490046200, 3090043100,   68008500,
           103000,     163000,      41500,     133000,        400,
           169000,     249000,     319000, 1953027900, 2163030900,
       1435020500, 1645023500, 2373033900, 2583036900, 1960028000,
       2170031000, 2443034900, 2030029000, 2065029500, 2093029900,
       1575022500, 2513035900, 2100030000, 2023028900, 1505021500,
       1813025900, 1295018500, 1673023900, 1155016500, 2653037900,
       2240032000, 2793039900, 2275032500, 2303032900, 1785025500,
       1855026500, 2723038900, 2310033000, 2233031900, 1715024500,
       1883026900, 1365019500,      13200,      34800,      38800,
            42800,      44800,     118000,      21100,      15200,
           287900,     368900,     199800,     174900,     123900,
            65900,     186900,     157900,      74900,      53900,
            44900,       7100,      19100,      19600,      63900,
            69900,      81500,      44500,      54300,      85700,
            27700,      74800,      78800,      90800,      72800,
           124000,     143000,      52500,      57800, 2151023900,
       3051033900, 1611017900, 2241024900, 2331025900, 2421026900,
       1611016900, 1539017100, 1584017600, 1674018600, 1791019900,
       3114034600, 3204035600, 3321036900,      13300,     136000,
            45500,      61500,      39800,      52900,      71900,
            54900,     113000,      49700,      91000,      11100,
           285000,     270000,     239000,     139000,      93000,
           179000, 2000022000, 1900021000, 1800020000, 2100021000,
       2100023000, 2200024000, 2500026000, 1900020000, 1700019000,
       1800019000, 2600025000, 2100024000, 2400025000, 2200023000,
       2700025000, 2900026000, 3300030000, 1600019000, 1500018000,
       1500017000, 1600018000, 1700021000, 1300016000, 1200016000,
       1400017000, 1400018000, 2000023000, 1500020000, 1700020000,
       2500027000,     600000,     106000,     188000,     100900,
            64900,      15100,     144000,     164000,     127000,
            20400,      29400,      39200,     128000,      46500,
            85500,     450000,      55900,     155000,     550000,
           158000,     112000,     123000,      33700,      34200,
            81800,      69800,       5450,        150,       1208,
            22400,     430000,        120,      28800,      40800,
             1750,   60006000,   45005000,   55005500,   50005000,
         65006500,     120004,       4885,      57900,      94000,
           112500,      10100,      34700,      17700,       1100,
            47800,      41800,      45800,      61800,      56800,
           149900,     169900,     209900,     131400,     153300,
           175200,     197100,     219000,     119900,     189900,
           229900,     249900, 1450014500, 1450014000, 1550015500,
            18200,     142000,      39300,      12300,      31400,
            60400,      33300,      37700,      48700, 1100013000,
            58100,      76100,      46800, 4200050000,     239800,
            30800,    1000000,     500000, 1000013900, 1000014900,
       1500018900, 1300017900, 1300016900, 3000033000, 2700030000,
            31700,      28700,      12200,      48500,     126000,
            36700,     120003,     199999,      36400,       1004,
            19300,      25300,          3, 1490019900,      31200,
            41600,      32200,      43600,     400000,      33500,
            21600,      51900,       4286,      22600,      38600,
            65500, 1400019000, 1600021000, 1300018000, 2000025000,
       1700022000, 1200017000, 2100026000, 1800023000, 2900031000,
       3300035000, 2700029000, 3100033000, 3500037000, 4700050000,
       6700070000,     207000,     172000,      70009,       5990,
             4990,       3990,       1990, 4800048000, 3000029700,
           176900,      41300,     420000,      48800, 1900022000,
       1800021000, 2200025000, 2300026000,      76900,     198000,
            25400,     173000, 1950032500, 1790029900,   63007900,
           153000,       5490,       6990,      65800,      38700,
            55500,      18600,     131000,      21200,      16600,
            13700,      23100,      14100,      14600,      26300,
            27300,      28300,      51500,      43800,         12,
               13,      24300,      79200,      96800,     117600,
           176400,     235200,     294000,     352800,     105600,
           123200,     132000,     158400,     176000,     193600,
           211200,     246400,     264000,     290400,     316800,
           352000,     114400,     396000,     440000,     143800,
           161400,     214200,     231800,     249400,     267000,
           302200, 1450015500, 1550016500,      33400,      50900,
       1900024000, 2400029000, 2200027000, 2100025000, 2300027000,
       2700031000, 2500029000, 2900033000,     234000, 3800051000,
       4100054000,      58900,     299000,       1550,   72007500,
         80008500,       1290, 2450024500,       1150,     349000],
      dtype=int64)

In [17]:
df.loc[(df['price'] % 100 != 0), 'price'] = 0

In [18]:
df.loc[(df['price'] > 500000), 'price'] = 0

In [19]:
df['price'].unique()

array([ 59000,  25000,  40000,  50000,  30000,  15000,  20000,  60000,
         2000,   3000,   8000,  10000,  55000, 120000, 100000,  80000,
        70000,  35000,  17000,   7000,   5500,   7500,   6000,  18000,
        12000,   5000,   6500,  11000,   9000,  29000,  14000,  13000,
        16000,  12900,  27000,  20900,  17900,      0,  15900,  25900,
        26900,  45000,   6900,   5900,   6800,   4400,   4500,   3500,
         4000,   4800,  13500,  23000,  24000,  19000,  43000,  14900,
        11900,  16900,  22900,   8500,  19900,  13900,   1500,   2500,
        28000,  20500,  22000,  38000,  34000,  52000,  39000,  48000,
        33000,  54000,  49000, 108000, 162000, 216000,  98000, 147000,
       196000,  32000,  37000,   9900,  49900,  99900,  27800,  23800,
        68000,  42000,   1000,  78000, 130000, 110000,  18900,  36000,
        40500,  43500, 140000,  85000, 135000, 115000,  79000,  90000,
        26000, 160000,  67000,  44000,  21000,  65000,   2900,  15800,
        14800,   9800,  16800,  14500,  58000,   3900,  99000,  11500,
        86000,    500,   1800,  23500,  21500,  62000,   6200,   5800,
         6400,   1700,   9500,  10900,  66000,   6300,   4200,  96000,
        72000,  41000,  20800,  29800,  37900,  69000, 150000, 119000,
       125000, 159000,  47000,  21900,   4300,   3800,  74000,  12500,
        16300, 170000,   7900,   8900,   4700,   5200,   7200,   8100,
         8800,  10200,  10500,  25500,  36300,  38500,  49500, 116000,
       174000, 232000, 250000,  75000, 200000,  89000,   2200,   3600,
        63000,  31000,  21400,  20200,   5300,  17500,  10800,  71000,
        31500,   4900,  46000,  19500,  16500,  15500,  29500,   4100,
         4600,   5100,   5600,  18800,  29600,  15600,   8600,  95000,
        34500,  17300,  18300,  88000,   2300,   1900,   2800, 104000,
        51000, 109000, 129000, 199000, 229000,  61000,  27900,   3300,
        37800,  24800,  22800,   7800,  13800,  56000,   5400,  26800,
        19800,   3700,   6100,   9300, 180000, 260000, 240000,  22500,
        12400,   9700,   8200,   9400,  23900,   2400,   1300,  34900,
        39900,  29900,   2700,  81000,  84000,   8700,   9200,  37500,
        31900,  24900,  28900,  30900,   5700,  36900, 101000,   8400,
        21800,  11700,  32400,  15300,   7400,  57000, 220000,  33900,
        38900,  43900,  66900,  85900, 112900,    700,  18500,  57500,
       148000,  74500,  67500,   8300,  10300,  82000,    900,  48900,
        59900,  77000, 138000, 149000,   3200,  53000, 230000,  39500,
        24500,    800,   1600,   1200,  10400,  11400,  73000,  28500,
       117000, 192000,  10600,    300,  41900,  27500,  13400,  11800,
        33800,  31800,  32800,  92000,  79900,  83900,  87000,  76000,
       210000,  14400,    100,   3400,  17600,  18700,  23300,  26100,
         3100,  10700,   7300,  30500,  11300, 300000,  83000, 190000,
        15400,  31300,  51700,  47900,  25700, 145000, 175000, 350000,
         6600,  36500,  32500,   6700,   2600,   1400,  14300,  25200,
          200,  17400, 105000,  22300,  25800,  35900,  32900,  64000,
         7700,  89900,  16200,  24400,  15700,   9600,  14200,  16700,
        14700,  59500,  47500,   2100,  12800, 111000,  46900, 102000,
       134000, 137000, 114000, 107000, 122000,  36800,   7600,  40900,
        67900,  49800,  35500,    600,  16400,  21700,  19700,  20700,
        26700,  23700,  42900,  45900,  12700,   9100,  35100,  19400,
        35800,  13600,  42500,  11600,  11200,  17800, 177000,  97000,
        52800,  26500, 103000, 163000,  41500, 133000,    400, 169000,
       249000, 319000,  13200,  34800,  38800,  42800,  44800, 118000,
        21100,  15200, 287900, 368900, 199800, 174900, 123900,  65900,
       186900, 157900,  74900,  53900,  44900,   7100,  19100,  19600,
        63900,  69900,  81500,  44500,  54300,  85700,  27700,  74800,
        78800,  90800,  72800, 124000, 143000,  52500,  57800,  13300,
       136000,  45500,  61500,  39800,  52900,  71900,  54900, 113000,
        49700,  91000,  11100, 285000, 270000, 239000, 139000,  93000,
       179000, 106000, 188000, 100900,  64900,  15100, 144000, 164000,
       127000,  20400,  29400,  39200, 128000,  46500,  85500, 450000,
        55900, 155000, 158000, 112000, 123000,  33700,  34200,  81800,
        69800,  22400, 430000,  28800,  40800,  57900,  94000, 112500,
        10100,  34700,  17700,   1100,  47800,  41800,  45800,  61800,
        56800, 149900, 169900, 209900, 131400, 153300, 175200, 197100,
       219000, 119900, 189900, 229900, 249900,  18200, 142000,  39300,
        12300,  31400,  60400,  33300,  37700,  48700,  58100,  76100,
        46800, 239800,  30800, 500000,  31700,  28700,  12200,  48500,
       126000,  36700,  36400,  19300,  25300,  31200,  41600,  32200,
        43600, 400000,  33500,  21600,  51900,  22600,  38600,  65500,
       207000, 172000, 176900,  41300, 420000,  48800,  76900, 198000,
        25400, 173000, 153000,  65800,  38700,  55500,  18600, 131000,
        21200,  16600,  13700,  23100,  14100,  14600,  26300,  27300,
        28300,  51500,  43800,  24300,  79200,  96800, 117600, 176400,
       235200, 294000, 352800, 105600, 123200, 132000, 158400, 176000,
       193600, 211200, 246400, 264000, 290400, 316800, 352000, 114400,
       396000, 440000, 143800, 161400, 214200, 231800, 249400, 267000,
       302200,  33400,  50900, 234000,  58900, 299000, 349000],
      dtype=int64)

In [20]:
df.loc[(df['price'] == 0), :]

,id,old_restaurantId,restaurantId,menuName,price,description,imgUrl
66,67,13,9,반반피자,0,입맛에 맞게끔 내 맘대로 반반 선택할 수 있는 피자,https://search.pstatic.net/common/?autoRotate=...
643,644,128,85,갈치조림,0,NaN,https://search.pstatic.net/common/?autoRotate=...
644,645,128,85,젓국갈비,0,NaN,https://search.pstatic.net/common/?autoRotate=...
648,649,128,85,묵은지고등어조림,0,NaN,https://search.pstatic.net/common/?autoRotate=...
655,656,130,87,장어,0,"1키로 600그램기준이고 1인당 상차림비용 4,000원입니다",https://search.pstatic.net/common/?autoRotate=...
...,...,...,...,...,...,...,...
161550,161551,31069,18903,한돈 갈비찜,0,각종 과일과 야채로 양념을 한 우리 어머님표 갈비찜,https://search.pstatic.net/common/?autoRotate=...
161779,161780,31094,18924,삼치구이,0,NaN,NaN
161784,161785,31094,18924,닭도리탕,0,NaN,NaN
161905,161906,31126,18942,가리비찜,0,NaN,NaN
162014,162015,31150,18955,명태조림,0,NaN,NaN

In [ ]:
# 이상값을 -1로 변경
# -1일 경우 가격정보없음으로 처리하도록 프로젝트 설계

In [21]:
df.loc[(df['price'] == 0), 'price'] = -1

In [22]:
df[df['price'] == -1]

,id,old_restaurantId,restaurantId,menuName,price,description,imgUrl
66,67,13,9,반반피자,-1,입맛에 맞게끔 내 맘대로 반반 선택할 수 있는 피자,https://search.pstatic.net/common/?autoRotate=...
643,644,128,85,갈치조림,-1,NaN,https://search.pstatic.net/common/?autoRotate=...
644,645,128,85,젓국갈비,-1,NaN,https://search.pstatic.net/common/?autoRotate=...
648,649,128,85,묵은지고등어조림,-1,NaN,https://search.pstatic.net/common/?autoRotate=...
655,656,130,87,장어,-1,"1키로 600그램기준이고 1인당 상차림비용 4,000원입니다",https://search.pstatic.net/common/?autoRotate=...
...,...,...,...,...,...,...,...
161550,161551,31069,18903,한돈 갈비찜,-1,각종 과일과 야채로 양념을 한 우리 어머님표 갈비찜,https://search.pstatic.net/common/?autoRotate=...
161779,161780,31094,18924,삼치구이,-1,NaN,NaN
161784,161785,31094,18924,닭도리탕,-1,NaN,NaN
161905,161906,31126,18942,가리비찜,-1,NaN,NaN
162014,162015,31150,18955,명태조림,-1,NaN,NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162209 entries, 0 to 162208
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                162209 non-null  int64
 1   old_restaurantId  162209 non-null  int64
 2   restaurantId      162209 non-null  int64
 3   menuName          162209 non-null  object
 4   price             162209 non-null  int64
 5   description       64255 non-null   object
 6   imgUrl            89067 non-null   object
dtypes: int64(4), object(3)
memory usage: 9.9+ MB

In [24]:
df['price'].unique()

array([ 59000,  25000,  40000,  50000,  30000,  15000,  20000,  60000,
         2000,   3000,   8000,  10000,  55000, 120000, 100000,  80000,
        70000,  35000,  17000,   7000,   5500,   7500,   6000,  18000,
        12000,   5000,   6500,  11000,   9000,  29000,  14000,  13000,
        16000,  12900,  27000,  20900,  17900,     -1,  15900,  25900,
        26900,  45000,   6900,   5900,   6800,   4400,   4500,   3500,
         4000,   4800,  13500,  23000,  24000,  19000,  43000,  14900,
        11900,  16900,  22900,   8500,  19900,  13900,   1500,   2500,
        28000,  20500,  22000,  38000,  34000,  52000,  39000,  48000,
        33000,  54000,  49000, 108000, 162000, 216000,  98000, 147000,
       196000,  32000,  37000,   9900,  49900,  99900,  27800,  23800,
        68000,  42000,   1000,  78000, 130000, 110000,  18900,  36000,
        40500,  43500, 140000,  85000, 135000, 115000,  79000,  90000,
        26000, 160000,  67000,  44000,  21000,  65000,   2900,  15800,
        14800,   9800,  16800,  14500,  58000,   3900,  99000,  11500,
        86000,    500,   1800,  23500,  21500,  62000,   6200,   5800,
         6400,   1700,   9500,  10900,  66000,   6300,   4200,  96000,
        72000,  41000,  20800,  29800,  37900,  69000, 150000, 119000,
       125000, 159000,  47000,  21900,   4300,   3800,  74000,  12500,
        16300, 170000,   7900,   8900,   4700,   5200,   7200,   8100,
         8800,  10200,  10500,  25500,  36300,  38500,  49500, 116000,
       174000, 232000, 250000,  75000, 200000,  89000,   2200,   3600,
        63000,  31000,  21400,  20200,   5300,  17500,  10800,  71000,
        31500,   4900,  46000,  19500,  16500,  15500,  29500,   4100,
         4600,   5100,   5600,  18800,  29600,  15600,   8600,  95000,
        34500,  17300,  18300,  88000,   2300,   1900,   2800, 104000,
        51000, 109000, 129000, 199000, 229000,  61000,  27900,   3300,
        37800,  24800,  22800,   7800,  13800,  56000,   5400,  26800,
        19800,   3700,   6100,   9300, 180000, 260000, 240000,  22500,
        12400,   9700,   8200,   9400,  23900,   2400,   1300,  34900,
        39900,  29900,   2700,  81000,  84000,   8700,   9200,  37500,
        31900,  24900,  28900,  30900,   5700,  36900, 101000,   8400,
        21800,  11700,  32400,  15300,   7400,  57000, 220000,  33900,
        38900,  43900,  66900,  85900, 112900,    700,  18500,  57500,
       148000,  74500,  67500,   8300,  10300,  82000,    900,  48900,
        59900,  77000, 138000, 149000,   3200,  53000, 230000,  39500,
        24500,    800,   1600,   1200,  10400,  11400,  73000,  28500,
       117000, 192000,  10600,    300,  41900,  27500,  13400,  11800,
        33800,  31800,  32800,  92000,  79900,  83900,  87000,  76000,
       210000,  14400,    100,   3400,  17600,  18700,  23300,  26100,
         3100,  10700,   7300,  30500,  11300, 300000,  83000, 190000,
        15400,  31300,  51700,  47900,  25700, 145000, 175000, 350000,
         6600,  36500,  32500,   6700,   2600,   1400,  14300,  25200,
          200,  17400, 105000,  22300,  25800,  35900,  32900,  64000,
         7700,  89900,  16200,  24400,  15700,   9600,  14200,  16700,
        14700,  59500,  47500,   2100,  12800, 111000,  46900, 102000,
       134000, 137000, 114000, 107000, 122000,  36800,   7600,  40900,
        67900,  49800,  35500,    600,  16400,  21700,  19700,  20700,
        26700,  23700,  42900,  45900,  12700,   9100,  35100,  19400,
        35800,  13600,  42500,  11600,  11200,  17800, 177000,  97000,
        52800,  26500, 103000, 163000,  41500, 133000,    400, 169000,
       249000, 319000,  13200,  34800,  38800,  42800,  44800, 118000,
        21100,  15200, 287900, 368900, 199800, 174900, 123900,  65900,
       186900, 157900,  74900,  53900,  44900,   7100,  19100,  19600,
        63900,  69900,  81500,  44500,  54300,  85700,  27700,  74800,
        78800,  90800,  72800, 124000, 143000,  52500,  57800,  13300,
       136000,  45500,  61500,  39800,  52900,  71900,  54900, 113000,
        49700,  91000,  11100, 285000, 270000, 239000, 139000,  93000,
       179000, 106000, 188000, 100900,  64900,  15100, 144000, 164000,
       127000,  20400,  29400,  39200, 128000,  46500,  85500, 450000,
        55900, 155000, 158000, 112000, 123000,  33700,  34200,  81800,
        69800,  22400, 430000,  28800,  40800,  57900,  94000, 112500,
        10100,  34700,  17700,   1100,  47800,  41800,  45800,  61800,
        56800, 149900, 169900, 209900, 131400, 153300, 175200, 197100,
       219000, 119900, 189900, 229900, 249900,  18200, 142000,  39300,
        12300,  31400,  60400,  33300,  37700,  48700,  58100,  76100,
        46800, 239800,  30800, 500000,  31700,  28700,  12200,  48500,
       126000,  36700,  36400,  19300,  25300,  31200,  41600,  32200,
        43600, 400000,  33500,  21600,  51900,  22600,  38600,  65500,
       207000, 172000, 176900,  41300, 420000,  48800,  76900, 198000,
        25400, 173000, 153000,  65800,  38700,  55500,  18600, 131000,
        21200,  16600,  13700,  23100,  14100,  14600,  26300,  27300,
        28300,  51500,  43800,  24300,  79200,  96800, 117600, 176400,
       235200, 294000, 352800, 105600, 123200, 132000, 158400, 176000,
       193600, 211200, 246400, 264000, 290400, 316800, 352000, 114400,
       396000, 440000, 143800, 161400, 214200, 231800, 249400, 267000,
       302200,  33400,  50900, 234000,  58900, 299000, 349000],
      dtype=int64)

In [ ]:
# 파일로 저장

In [28]:
df.to_csv('MENU_FINAL2.csv')

In [29]:
pd.read_csv('MENU_FINAL2.csv',index_col=0)

,id,old_restaurantId,restaurantId,menuName,price,description,imgUrl
0,1,2,1,A세트인기대표,59000,해산물모듬+제철모듬회+매운탕(지리탕),https://ldb-phinf.pstatic.net/20220203_236/164...
1,2,2,1,숭어,25000,NaN,https://ldb-phinf.pstatic.net/20220207_135/164...
2,3,2,1,광어,40000,NaN,https://ldb-phinf.pstatic.net/20220207_188/164...
3,4,2,1,우럭,40000,NaN,https://ldb-phinf.pstatic.net/20220207_115/164...
4,5,2,1,도미,50000,NaN,NaN
...,...,...,...,...,...,...,...
162204,162205,31201,18984,국수(잔치/열무/물냉면),4000,NaN,NaN
162205,162206,31206,18986,프리미엄카츠,7500,"프리미엄소스와 히말라야 핑크소금, 와사비마요, 생와사비를 기호에 맞게 드실 수 있는 메뉴",https://search.pstatic.net/common/?autoRotate=...
162206,162207,31206,18986,큐브치즈카츠1,8500,모짜렐라 100% 치즈가 쭈~~욱 속이 꽉찬 치즈카츠와 감자튀김을 동시에 즐기실 수...,https://search.pstatic.net/common/?autoRotate=...
162207,162208,31206,18986,큐브치즈카츠2,9500,모짜렐라 100% 치즈가 쭈~~욱 속이 꽉찬 치즈카츠와 등심돈까스를 동시에 즐기실 ...,https://search.pstatic.net/common/?autoRotate=...
162208,162209,31206,18986,모둠카츠,9500,"등심돈까스와 큐브치즈카츠, 새우튀김, 감자튀김까지 맛보실 수 있는 푸짐한 메뉴",https://search.pstatic.net/common/?autoRotate=...